h1 {
           color: #00008B
}

h2, h3 { 
           font-family: Cursive ;
           color: #00008B
}



p { 
           font-family: Cursive ;
           color: #483D8B      
     }

tr { 
           font-family: Cursive;
           color: #483D8B
}


body {
font-family: Cursive;
  margin: auto;
  background-color: #87CEFA;
  max-width: 1100px;

}


#483D8B




#92a8d1




















